/* Start Game */
.startGame-container {
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
    align-content: stretch;
}

.gameTitle {
    margin: auto;
}

.gameTitle h1 {
    margin: 0 auto 20px auto;
    font-size: 102px;
    font-family: 'BurbankBigCondensed-Black';
}

.setupForm {
    /* width: 50%; */
    background-color: var(--sec-bg-color);
    border: 2px solid var(--border-color);
    border-radius: 3px;
    margin: auto;
    padding: 60px 100px 60px 125px;
    justify-items: center;
    justify-content: center;
}

.userNameInput {
    font-size: xx-large;
    margin: 10px;
}

.userNameInput input {
    width: 208px;
    padding: 5px;
    font-family: 'BurbankBigCondensed-Black';
    font-size: large;
    border: 1px solid black;
    border-radius: 1px;
    color: rgba(0,0,0, 0.6);
}

.roundsInput {
    margin: 10px;
}

#numberofRoundsLable {
    font-size: xx-large;
    margin: 0;
}

.roundsInput label {
    font-size: large;
    margin-left: 5px;
}

.roundsInput input {
    margin-right: 25px;
}

.submitBtn{
    width: 75%;
    margin: 15px 0 0 10px;
    padding: 15px;
    border: 0.5px solid black;
    border-radius: 1px;
    background-color: var(--green-color);
    font-family: 'BurbankBigCondensed-Black';
    font-size: xx-large;
    color: var(--txt-color);
 
}

/* Game */
.gameContainer {
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
    align-content: stretch;
}

.numberOfRounds {
    margin: auto;
}

.playersContainer {
    display: flex;
	margin: auto;
}

.btnContainer {
    margin: 5px;
}

.btnWeapon {
    margin: 5px;
    padding: 10px;
}

.startRound {
    margin: auto;
}

.startRoundBtn {
    padding: 10px;
}

/* Game END */