/* Start Game */
.startGame-container {
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
    align-content: stretch;
}

.gameTitle {
    margin: auto;
}

.gameTitle h1 {
    font-family: 'Marvin', 'BurbankBig';
}

.setupForm {
    border: 0.5px solid black;
    margin: auto;
    padding: 50px;
}

.roundsInput {
    margin: 10px;
}

.roundsInput label {
    margin-bottom: 5px;
}

.rounds {
    padding: 5px;
}

.userNameInput {
    margin: 10px;
}

.submitBtn{
    margin: 5px;
    padding: 10px;
}

/* Game */
.gameContainer {
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
    align-content: stretch;
}

.numberOfRounds {
    margin: auto;
}

.playersContainer {
    display: flex;
	margin: auto;
}

.btnContainer {
    margin: 5px;
}

.btnWeapon {
    margin: 5px;
    padding: 10px;
}

.startRound {
    margin: auto;
}

.startRoundBtn {
    padding: 10px;
}

/* Game END */