.rubric{
	width: 25%;
	margin-left: auto;
	margin-right: auto;
}
.setupForm{
	margin-top: 10em;
	width: 30%;
	margin-left: auto;
	margin-right: auto;
}
.gameContainer{
	/* margin-top: 20em; */
	display: inline;
	/* height: 20em; */
	margin: 0;
}
.player{
	width: 30%;
	height: 10%;
	background-color: red;
}
.computer{
	width: 30%;
	height: 10%;

	background-color: blue;
}