.player-container {
    width: 350px;
    margin: 5px 10px;
    background-color: lightgrey;
}

.player-name h2 {
    margin: 0;
    padding: 10px;
}

.weapon-container {
    vertical-align:middle;
    text-align:center;
}

.weapon-image {
    width: 250px;
    height: 250px;
    padding: 0 0 20px 0;
}