.scoreboard-container {
    display: flex;
    align-items: center;
    align-content: center;
    width: 100%;
    margin: auto ;
}

.playerHand {
    margin: auto;
}

.playerHand ol {
    margin: 0;
    padding: 0;
}

.playerHand li {
    list-style: none;
    border-bottom: 1px solid grey;
    padding: 5px 20px 5px 10px
}

.computerHand {
    margin: auto;
}

.computerHand ol {
    margin: 0;
    padding: 0;
}

.computerHand li {
    list-style: none;
    border-bottom: 1px solid grey;
    padding: 5px 10px 5px 30px;
}